# Data creation

In [1]:
from cleaning_image import Cleaning_image
from data_creation import Data_creation
import os
import pandas as pd

In [2]:
quantity_visits=2
botanical_species=20
seed=42
quantity_photos_per_sample=2
producers=["ALEJANDRA GARCIA", "ALVARO BURGOS"]
quantity_samples_per_producer_per_visit=[[5,5], [5,5]]

cleaning_image=Cleaning_image(botanical_species=botanical_species,seed=seed)
data_creation=Data_creation(botanical_species=botanical_species,seed=seed)
df_control=data_creation.create_df_control(producers=producers, quantity_photos_per_sample=quantity_photos_per_sample,
                                           quantity_samples_per_producer_per_visit=quantity_samples_per_producer_per_visit,
                                           quantity_visits=quantity_visits)


# for q in range(1,quantity_visits+1):
#     os.makedirs("Z:/unal/Tesis/Imagenes/Code/images/Visit_"+str(q), exist_ok=True)

df_control
# save the photographies in the different folder in the images folder according to the visit

             Producer  Visit  Photo_number  Number_sample
0    ALEJANDRA GARCIA      1             1              1
1    ALEJANDRA GARCIA      1             1              2
2    ALEJANDRA GARCIA      1             1              3
3    ALEJANDRA GARCIA      1             1              4
4    ALEJANDRA GARCIA      1             1              5
..                ...    ...           ...            ...
155     ALVARO BURGOS      2             2              1
156     ALVARO BURGOS      2             2              2
157     ALVARO BURGOS      2             2              3
158     ALVARO BURGOS      2             2              4
159     ALVARO BURGOS      2             2              5

[160 rows x 4 columns]

# Model creration

# Results